name: CI
on:
  pull_request:
    branches: [ main ]
jobs:
  build:
    env:
      BUNDLE_GEMFILE: Gemfile
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.2', '3.3', '3.4']
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: RSpec
        run: bundle exec rspec
      - name: Rubocop
        run: bundle exec rubocop --parallel
